<main class="main container">
    <ng-container *transloco="let t">
      <div class="customContainer" *ngIf="this.sharedData.step === 0">
        <h1 class="bText2" *ngIf="this.sharedData.context">{{ t('title') + ' ' + this.sharedData.context.projectName }}</h1>        
        <div class="content">
          <div class="left-side">                      
            <div class="bMargin-top-default">
              <span class="bTextBold">{{t('newAccountLabel')}}</span>
              <a class="bTextLink" style="margin-left:5px;" href="#">{{t('newAccountButton')}}</a>
            </div>            
            <div class="externalProviders bMargin-top-default">      
              <ul>                  
                <li>
                  
                  <img src="assets/450af603-3544-480d-9dc1-e49c0b5122f7.png" width="48px">
                  <span title="{{t('loginUsingGoogleTitle')}}" class="bTextLink" (click)="loginWithGoogle()">{{t('loginUsingGoogleButton')}}</span>
                
                  
                </li>
              </ul>                    
            </div>
            <app-separator-elem class="bMargin-top-default"></app-separator-elem>
            <form [formGroup]="myGroup" (submit)="onSubmit()" method="post" class="bMargin-top-default">
              <div class="form-group">
                <label class="bLegend" for="email">{{t('emailAddressLabel')}}</label>
                <input class="bInputText" tabindex="1" type="text" placeholder="{{t('emailAddressPlaceholder')}}" formControlName="email" id="email" name="email" 
                  [class.invalidInput]="myGroup.get('email')?.invalid && myGroup.get('email')?.touched || (!nextButtonDisabled && !emailFound)" 
                  [class.validInput]="emailFound"
                  (change)="onChange($event)"
                  />
                <div class="bLegend bMargin-top-default" *ngIf="!nextButtonDisabled && !emailFound">{{t('emailNotFound')}}</div>
                <div class="bLegend bMargin-top-default" *ngIf="emailFound">{{t('emailFound')}}</div>
              </div>              
              <input id="sendButton" tabindex="2" class="bButton bMargin-top-default" type="submit" value="{{t('continueButton')}}" 
                [disabled]="nextButtonDisabled || !emailFound"
                [class.bButtonUnfocused]="nextButtonDisabled || !emailFound" />                            
            </form>            
          </div>        
        </div>        
      </div>      
      <app-error *ngIf="this.sharedData.step === -1"></app-error>
      <app-otp *ngIf="this.sharedData.step === 1"></app-otp>
      <app-by-password *ngIf="this.sharedData.step === 2"></app-by-password>
      
      <app-slide-indicator *ngIf="sharedData.step >= 1 || sharedData.step <= 3" [slides]="[1,2,3]" [currentSlide]="sharedData.step + 1"></app-slide-indicator>
    </ng-container>      
  </main>