h1{
    font-weight: bold;
}

.form-group input{
    width: 95%;
    
}

.form-group{
    margin-top: 10px;
    
}

.externalProviders ul{
    padding: 0px;
}
.externalProviders ul li{
    list-style: none;
    border-radius: 20px;
    /* border-bottom:solid 1px #626262; */
    /* padding: 10px; */
    display: block;
    display: flex;
    align-items: center;
    
}

.externalProviders img {
    margin-right: 10px;
    width: 22px; 
}

#sendButton{
    width: 100%;
  }

.invalidInput{
    border: solid 2px #e75151;
    background-image: url('/assets/wrong.svg');
    background-size: 16px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;    
}

.validInput{
    border: solid 2px #17c06c;
    background-image: url('/assets/success.svg');
    background-size: 28px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;        
}



@media screen and (max-width: 1000px) {
  .container{
    margin: 0px;
    padding: 0px;
  }
}  