<router-outlet></router-outlet>

<footer class="footer">
  <div class="logo">
    <a
      href="https://bomdev.com.br/"        
      title="Bomdev Software House"  
      target="_blank"
      rel="noopener"
    >
      <img src="assets/logo.svg" width="48px">
    </a>
  </div>
  <div class="links">
      <a class="bTextLink" href="#link1" rel="noopener noreferrer">Link 1</a>
      <a class="bTextLink" href="#link2" rel="noopener noreferrer">Link 2</a>
      <a class="bTextLink" href="#link3" rel="noopener noreferrer">Link 3</a>
      <a class="bTextLink" href="#link4" rel="noopener noreferrer">Link 4</a>
  </div>
</footer>