  

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--background-secundary-color);    
}
.footer .logo {
    display: flex;
    align-items: center;
}
.footer .logo img {
    height: 50px;
}
.footer .links {
    display: flex;
    gap: 15px;
}

.footer .links{
  font-size: 90%;
}

.footer .links span{
  color:var(--text-secundary-color);
  text-align: right;
}

.footer .links a{
  color:var(--text-primary-color);
  text-align: right;
}

.footer .links a::after {
  content: '|';
  color: #E0E0E0;
  position: absolute;
  margin-left: 5px;
}

.footer .links span::after {
  content: '|';
  color: #E0E0E0;
  position: absolute;
  margin-left: 5px;
}

.footer .links a:last-child::after {
  content: '';
}


@media screen and (max-width: 1000px) {
  .container{
    margin: 0px;    
  }
}