  

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-top: 20px;
  border-top:solid 1px #DCDCDC;
    
}
.footer .logo {
    display: flex;
    align-items: center;
}
.footer .logo img {
    height: 50px;
}
.footer .links {
    display: flex;
    gap: 15px;
}

.footer .links{
  font-size: 90%;
}

.footer .links span{
  color:#626262;
  text-align: right;
}

.footer .links a{
  color: #323232;
  text-align: right;
}

.footer .links a::after {
  content: '|';
  color: #E0E0E0;
  position: absolute;
  margin-left: 5px;
}
.footer .links a:last-child::after {
  content: '';
}


@media screen and (max-width: 650px) {
  
}