<router-outlet></router-outlet>

<footer class="footer container">
  <ng-container *transloco="let t">
    <div class="logo">
      <a
        href="https://bomdev.com.br/"        
        title="Bomdev Software House"  
        target="_blank"
        rel="noopener"
      >
        <img src="assets/logo.svg" width="48px">
      </a>
    </div>
    <div class="links">
        <span class="bText" href="#link1" rel="noopener noreferrer">{{t('rightsLabel')}}</span>
        <a class="bTextLink" href="#link2" rel="noopener noreferrer" target="_blank">{{t('termsOfUseLabel')}}</a>
        <a class="bTextLink" href="#link3" rel="noopener noreferrer" target="_blank">{{t('privacyLabel')}}</a>
        <a class="bTextLink" href="#link4" rel="noopener noreferrer" target="_blank">{{t('doNotShareMyPersonalInfoLabel')}}</a>
    </div>
  </ng-container>
  
</footer>