  

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
  border-top:solid 1px #DCDCDC;
    
}
.footer .logo {
    display: flex;
    align-items: center;
}
.footer .logo img {
    height: 50px;
}
.footer .links {
    display: flex;
    gap: 15px;
}

.footer .links a{
  color: #A0A0A0;
}

.footer .links a::after {
  content: '|';
  color: #E0E0E0;
  position: absolute;
  margin-left: 5px;
}
.footer .links a:last-child::after {
  content: '';
}

  @media screen and (max-width: 650px) {
    
  }