<style>
  @font-face {
    font-family: 'Manrope';
    src: url('assets/fonts/static/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .bText{
    font-family: Manrope, sans-serif;
  }

  .bTextBold{
    font-family: Manrope, sans-serif;
    font-weight: bold;
  }

  .bText6{
    font-family: Manrope, sans-serif;
    font-size: 90%;
  }

  .bText4{
    font-family: Manrope, sans-serif;
    font-size: 120%;
  }

  .bTextLink{
    font-family: Manrope, sans-serif;
    color:#1e90ff;
    text-decoration: underline;
  }

  .bButton{
    font-family: Manrope, sans-serif;
    font-size: 100%;
    background-color:#000;
    color:#fff;
    padding:5px;
    border-radius: 5px;
    border: none;
  }

  .bInputText{
    font-family: Manrope, sans-serif;
    font-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#FFF;
    border-bottom: solid 1px #323232;
    border-left: none;
    border-right: none;
    border-top: none;
    display: block;
  }

  @media screen and (max-width: 650px) {
    
  }
</style>

<main class="main">
  <ng-container *transloco="let t">
    <h1 class="bText4">{{ t('title') + ' ' + title }}</h1>
    <div class="content">
      <div class="left-side">                        
        <div>
          <span class="bTextBold">{{t('newAccountLabel')}}</span>
          <a class="bTextLink" style="margin-left:5px;" href="#">{{t('newAccountButton')}}</a>
        </div>
        <form method="post">
          <div class="form-group">
            <label class="bText6" for="email">{{t('emailAddressLabel')}}</label>
            <input class="bInputText" type="text" placeholder="{{t('emailAddressLabel')}}" id="email" name="email" />
          </div>
          <div class="form-group">
            <label class="bText6" for="password">{{t('passwordLabel')}}</label>
            <input class="bInputText" type="password" placeholder="{{t('passwordLabel')}}" id="password" name="password" />
          </div>
          <div class="form-group">          
            <input class="bButton" type="submit" value="{{t('continueButton')}}" />
          </div>
          <a class="bTextLink" href="#">{{t('forgetPasswordButton')}}</a>
          <span class="bText4" style="display: block;">{{t('orLabel')}}</span>
          <div class="externalProviders">          
            <a
              href="#"        
              title="{{t('loginUsingGoogleTitle')}}"              
            >
              <img src="assets/450af603-3544-480d-9dc1-e49c0b5122f7.png" width="48px">
              <span class="bText">{{t('loginUsingGoogleButton')}}</span>
            </a>
          </div>
        </form>
        
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
       
        <div class="social-links">
          <a
            href="https://bomdev.com.br/"        
            title="Bomdev Software House"  
            target="_blank"
            rel="noopener"
          >
            <img src="assets/logo.svg" width="48px">
          </a>
        
        </div>
      </div>
    </div>
  </ng-container>  
  
</main>