.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background-primary-color);
    padding-bottom: 1em;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background-third-color);
  }
  
  .indicator.active {
    background-color: var(--background-fourth-color);
  }
  