.invalidInput{
    border: solid 2px #e75151;
  }
  
  .validInput{
    border: solid 2px #17c06c;
 
  }

  #headerIdentity {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
  }
  
  #headerIdentity li {
    margin-left: 6%;
  }
  
  #headerIdentity li:first-child {
    margin-left: 0px;
  }
  
  #passwordField{
    width:93%;
  }