<ng-container *transloco="let t">
    <div class="customContainer">        
        <ul id="headerIdentity">
          <li>
            <app-avatar [firstName]="this.sharedData.userInfo!.firstName" [lastName]="this.sharedData.userInfo!.lastName" [imageUrl]="this.sharedData.userInfo?.picture ?? undefined"></app-avatar>
          </li>
          <li>
            <h2 class="bText">{{ t('byPasswordWelcome') + this.sharedData.userInfo?.firstName}}</h2>        
          </li>
        </ul>                
        <div class="content">
            <div class="left-side">                                                             
              <span class="bTextLink" (click)="this.sharedData.goStep(0)">{{t('useAnotherEmail')}}</span>              
              <app-separator-elem></app-separator-elem>
              <form [formGroup]="this.myGroup" class="bMargin-top-default" method="post" (submit)="onSubmit()">                
                <label class="bLegend" for="password">{{t('byPasswordTitle')}}</label>
                <input class="bInputText" type="password" placeholder="**************" formControlName="password" name="password" id="passwordField"
                  [class.invalidInput]="myGroup.get('password')?.invalid && myGroup.get('password')?.touched"                   
                  />         
                <input id="sendButton" class="bButton bMargin-top-default" type="submit" value="{{t('continueButton')}}" 
                  [disabled]="myGroup.controls.password.invalid"
                  [class.bButtonUnfocused]="myGroup.controls.password.invalid" 
                />           
              </form>
              
            </div>        
          </div>
      </div>
</ng-container>
