.invalidInput{
    border: solid 2px #e75151;
  }
  
  .validInput{
    border: solid 2px #17c06c;
 
  }

  #headerIdentity {
    list-style: none;
    padding: 0.7em;
    margin: 0px;
    display: flex;
    align-items: center;
    margin-top:0.5em;
    background: #FFF;
    border-radius: 15px;
  }
  
  #headerIdentity li {
    margin-left: 6%;
  }
  
  #headerIdentity li:first-child {
    margin-left: 0px;
  }
  
  input[type='password']{
    width:93%;
  }

  #headerIdentity li h2{
    margin-bottom: 0px;
    margin-top:0px;
    color: var(--background-primary-color) !important;
  }

  #headerIdentity li h5{
    margin-top: 3px;
    color: var(--background-primary-color) !important;
  }

  #userEmailLabel{
    margin-bottom: 0.6em;
    
  }

  #headerIdentity li .bTextLink{
    color: var(--background-third-color) !important;
    display: inline-block;
    margin-left: 0.7em;
  }

  #useAnotherAccountLink{    
    margin-left: 0px !important;
  }