<ng-container *transloco="let t">
    <div class="customContainer">        
        <ul id="headerIdentity">
          <li>
            <app-avatar [firstName]="this.sharedData.userInfo!.userInfo.firstName" 
            [lastName]="this.sharedData.userInfo!.userInfo.lastName" 
            [imageUrl]="this.sharedData.userInfo?.userInfo?.picture ?? undefined"
            ></app-avatar>
          </li>
          <li>
            <h2 class="bText">{{ t('byPasswordWelcome') + this.sharedData.userInfo!.userInfo.firstName + " " + this.sharedData.userInfo!.userInfo.lastName}}</h2> 
            <h5 id="userEmailLabel" class="bText">{{this.sharedData.emailLogin}}</h5>       
            <span id="useAnotherAccountLink" class="bTextLink" (click)="this.sharedData.goStep(0)">{{t('useAnotherEmail')}}</span>              
            <span *ngIf="!resetPasswordFlow" id="iForgetPassword" class="bTextLink" (click)="forgetMyPasswordClick()">{{t('byPasswordIforgetPassword')}}</span>     
          </li>          
        </ul>          
        <div class="content">
            <div class="left-side">                                                                                         
              <form *ngIf="!resetPasswordFlow" [formGroup]="this.myGroup" class="bMargin-top-default" method="post" (submit)="onSubmit()">                
                <label class="bLegend" for="password">{{t('byPasswordTitle')}}</label>
                <input class="bInputText" type="password" placeholder="{{t('byPasswordTitle')}}" formControlName="password" name="password" id="passwordField"
                  [class.invalidInput]="myGroup.get('password')?.invalid && myGroup.get('password')?.touched"   
                  [class.validInput]="successPassword"                 
                  (input)="textChanged()"
                  />         
                <input id="sendButton" class="bButton bMargin-top-default" type="submit" value="{{t('continueButton')}}" 
                  [disabled]="myGroup.controls.password.invalid || invalidPassword || successPassword"
                  [class.bButtonUnfocused]="myGroup.controls.password.invalid || invalidPassword || successPassword" 
                />           
              </form>

              <form *ngIf="resetPasswordFlow" [formGroup]="this.resetPasswordGroup" class="bMargin-top-default" method="post" (submit)="onSubmitResetPasswdFlow()">                
                <label class="bLegend" for="newPasswordField">{{t('byPasswordNewPassword')}}</label>
                <input class="bInputText" type="password" placeholder="{{t('byPasswordNewPassword')}}" formControlName="newPassword" name="newPassword" id="newPasswordField"
                  [class.invalidInput]="this.resetPasswordGroup.get('newPassword')?.invalid && this.resetPasswordGroup.get('newPassword')?.touched"   
                  [class.validInput]="successPassword"                 
                  (input)="textChangedResetPasswdFlow()"
                  />         
                <label class="bLegend bMargin-top-default" for="confirmPassword">{{t('byPasswordConfirmPassword')}}</label>
                <input class="bInputText" type="password" placeholder="{{t('byPasswordConfirmPassword')}}" formControlName="confirmPassword" name="confirmPassword" id="confirmPasswordField"
                  [class.invalidInput]="this.resetPasswordGroup.get('confirmPassword')?.invalid && this.resetPasswordGroup.get('confirmPassword')?.touched"   
                  [class.validInput]="successPassword"                 
                  (input)="textChangedResetPasswdFlow()"
                  />
                <input id="sendButtonResetPasswd" class="bButton bMargin-top-default" type="submit" value="{{t('byPasswordSendContinueButton')}}" 
                  [disabled]="this.resetPasswordGroup.errors || this.resetPasswordGroup.invalid || successPassword"
                  [class.bButtonUnfocused]="this.resetPasswordGroup.errors || this.resetPasswordGroup.invalid || successPassword" 
                  (input)="textChangedResetPasswdFlow()"
                />           
              </form>
              <app-alert *ngIf="invalidPassword" class="bMargin-top-default" [message]="t('byPasswordInvalidPassword')" [type]="'error'"></app-alert>
              <app-alert *ngIf="passwordsDoNotMatch" class="bMargin-top-default" [message]="t('byPasswordPasswordsDoNotMatch')" [type]="'error'"></app-alert>              
              <app-alert *ngIf="passwordStrengt" class="bMargin-top-default" [message]="t('byPasswordWeakPassword')" [type]="'warning'"></app-alert>    
              <app-alert *ngIf="successPassword" class="bMargin-top-default" [message]="t('byPasswordValidPassword')" [type]="'success'"></app-alert>
            </div>        
          </div>
      </div>
</ng-container>
