.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--background-fourth-color);
    color: var(--avatar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--avatar-font-size);
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;  
    /* border:solid 3px var(--background-third-color);   */
  }
  
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: var(--avatar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--avatar-font-size);
  font-weight: bold;
  text-transform: uppercase;
}
