.form-group input{
    width: 95%;
    
}

.bMargin-top-default{
    margin-top:20px;
    display: block;
}

.form-group{
    margin-top: 10px;
    
}

.externalProviders ul{
    padding: 0px;
}
.externalProviders ul li{
    list-style: none;
    border-radius: 20px;
    border:solid 1px #626262;
    padding: 10px;
    display: block;
}

.externalProviders a {
    display: flex;
    align-items: center;    
    color: #323232;    
}
.externalProviders img {
    margin-right: 10px;
    width: 22px; 
}
.externalProviders .bText {
    display: flex;
    align-items: center;
}

#sendButton{
    width: 100%;
  }

.customContainer{
    padding-top:10px;    
    padding-left:20px;
    padding-right:20px;    
    padding-bottom:10px;
    border: solid 1px #DCDCDC;
    background-color: #FFF;
    border-radius: 15px;
    /* width: 420px; */
}

@media screen and (max-width: 650px) {
  .container{
    margin-left: 2%;
    margin-right: 2%;
  }
}  