h1{
    font-weight: bold;
}

.form-group input{
    width: 95%;
    
}

.bMargin-top-default{
    margin-top:20px;
    display: block;
}

.form-group{
    margin-top: 10px;
    
}

.externalProviders ul{
    padding: 0px;
}
.externalProviders ul li{
    list-style: none;
    border-radius: 20px;
    /* border-bottom:solid 1px #626262; */
    /* padding: 10px; */
    display: block;
}

.externalProviders a {
    display: flex;
    align-items: center;            
}
.externalProviders img {
    margin-right: 10px;
    width: 22px; 
}
.externalProviders .bText {
    display: flex;
    align-items: center;
}

#sendButton{
    width: 100%;
  }

.invalidInput{
    border: solid 2px #e75151;
    background-image: url('/assets/wrong.svg');
    background-size: 16px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;    
}

.validInput{
    border: solid 2px #17c06c;
    background-image: url('/assets/success.svg');
    background-size: 28px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;        
}

.customContainer{
    padding-top:10px;    
    padding-left:20px;
    padding-right:20px;    
    padding-bottom:10px;
    /* border: solid 1px #DCDCDC; */
    background-color: #1A504F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* width: 420px; */
    min-height: 500px;
}

@media screen and (max-width: 1000px) {
  .container{
    margin: 0px;
    padding: 0px;
  }
}  