:root {
  --text-primary-color:#FFF;
  --text-secundary-color:#e0e0e0;
  --background-primary-color:#1A504F;
  --background-secundary-color:#2C3636;
  --background-third-color:#213333;
  --background-fourth-color:#2F9492;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/static/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .bText{
    font-family: Manrope, sans-serif;
    color: var(--text-primary-color);
  }

  .bTextBold{
    font-family: Manrope, sans-serif;
    font-weight: bold;
    color: var(--text-primary-color);
  }

  .bText6{
    font-family: Manrope, sans-serif;
    font-size: 90%;
    color: var(--text-primary-color);
  }

  .bLegend{
    font-family: Manrope, sans-serif;
    font-size: 80%;
    color: var(--text-secundary-color);
  }
  
  .bText4{
    font-family: Manrope, sans-serif;
    font-size: 120%;
    color: var(--text-primary-color);
  }

  .bText3{
    font-family: Manrope, sans-serif;
    font-size: 140%;
    color: var(--text-primary-color);
  }

  .bText2{
    font-family: Manrope, sans-serif;
    font-size: 160%;
    color: var(--text-primary-color);
  }

  .bText1{
    font-family: Manrope, sans-serif;
    font-size: 180%;
    color: var(--text-primary-color);
  }

  .bTextLink{
    font-family: Manrope, sans-serif;
    color:#48E0DE;
    text-decoration: none;
    font-weight: bold;    

    cursor: pointer;
  }

  .bTextLink:hover{
    text-decoration: underline;
  }

  .bButton{
    font-family: Manrope, sans-serif;
    font-size: 100%;
    color: var(--text-primary-color);
    background-color:var(--background-third-color);
    padding:8px;
    
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    text-align: center;

    width: 100%;

    cursor: pointer;
  }

  .bButton:hover{
    background-color: var(--background-fourth-color);
  }

  .bButtonUnfocused{
    color:#355252 !important;    
}

  .bButtonUnfocused:hover{
      background-color: var(--background-third-color) !important;
      cursor: not-allowed;
  }

  .bInputText{
    font-family: Manrope, sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 5px;
    
    background-color:var(--background-fourth-color);
    border: none;
  
    border-radius: 20px;
    
    display: block;
  }

  .container{
    margin-left:35%;
    margin-right:35%;
  }

  label{
    margin-bottom: 5px;
    display: block;
  }

  .bMargin-top-default{
    margin-top:1em;
    display: block;
}

 
/* Custom style for steps components in the same screen  */
.customContainer{
    padding-top:10px;    
    padding-left:20px;
    padding-right:20px;    
    padding-bottom:10px;
    /* border: solid 1px #DCDCDC; */
    background-color: #1A504F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* width: 420px; */
    min-height: 500px;
}