@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/static/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .bText{
    font-family: Manrope, sans-serif;
  }

  .bTextBold{
    font-family: Manrope, sans-serif;
    font-weight: bold;
  }

  .bText6{
    font-family: Manrope, sans-serif;
    font-size: 90%;
  }

  .bLegend{
    font-family: Manrope, sans-serif;
    font-size: 80%;
    color: #626262;
  }
  
  .bText4{
    font-family: Manrope, sans-serif;
    font-size: 120%;
  }

  .bText3{
    font-family: Manrope, sans-serif;
    font-size: 140%;
  }

  .bText2{
    font-family: Manrope, sans-serif;
    font-size: 160%;
  }

  .bText1{
    font-family: Manrope, sans-serif;
    font-size: 180%;
  }

  .bTextLink{
    font-family: Manrope, sans-serif;
    color:#1e90ff;
    text-decoration: none;
    font-weight: bold;
  }

  .bTextLink:hover{
    text-decoration: underline;
  }

  .bButton{
    font-family: Manrope, sans-serif;
    font-size: 100%;
    color:#fff;
    background-color:#1187fc;
    padding:5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bButton:hover{
    background-color: #DCDCDC;
  }

  .bInputText{
    font-family: Manrope, sans-serif;
    font-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    
    background-color:#FFF;
    border-bottom: solid 1px #323232;
    border-left: none;
    border-right: none;
    border-top: none;
    display: block;
  }

  .container{
    margin-left:35%;
    margin-right:35%;
  }