<ng-container *transloco="let t">
    <div class="customContainer">
        <h1 class="bText2">{{ t('errorTitle') }}</h1>        
        <div class="content">
            <div class="left-side">                                    
              <app-separator-elem class="bMargin-top-default"></app-separator-elem>            
              <span *ngIf="this.sharedData.errorCode" class="bText bMargin-top-default" style="display: block;">{{this.sharedData.errorCode}}</span>              
              <details *ngIf="this.sharedData.errorAPIDescriptions" class="bMargin-top-default">
                <summary class="bText">{{t('errorMoreInfos')}}</summary>
                <ul *ngIf="this.sharedData.errorAPIDescriptions.length > 0">
                  <li *ngFor="let error of this.sharedData.errorAPIDescriptions" class="bText">{{ error }}</li>
                </ul>
                <p *ngIf="this.sharedData.errorAPIDescriptions.length === 0">No errors to display.</p>
              </details>
              <span class="bText bMargin-top-default" style="display: block;">{{t('errorCausesLabel')}}</span>              
              <ul>
                <li class="bText">{{t('errorCause1')}}</li>
                <li class="bText" style="margin-top: 5px;">{{t('errorCause2')}}</li>
              </ul>
              <button href="#" class="bButton bMargin-top-default" (click)="refreshPage()">{{t('tryAgain')}}</button>
            </div>        
          </div>
      </div>
</ng-container>

